$white: #fff;

.options {
  background: $white;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

.options-closed {
  display: none;
}

.option-selected {
  text-decoration: underline;
}
