@import 'src/variables';

.overallStat {
  font-family: $font-primary;
  display: inline-block;
  margin-bottom: 1.5em;
  min-width: 160px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.value {
  font-size: 2.5em;
}

.unit {
  font-size: 1.5em;
  color: $light-grey;
  margin-left: 0.2em;
}

.label {
  display: block;
  line-height: 0.4em;
  text-transform: uppercase;
  color: $blue;
  font-weight: bold;
}

.title {
  color: $blue;
}
