@import 'src/variables';

.histogram {
  display: flex;
}

.histogram-month-label {
  $vertical-space: 0.5rem;

  border-top: 5px solid;
  color: $light-grey;
  margin: $vertical-space $month-margin;
  text-align: center;
  width: calc(100% - #{$month-margin});
  padding-top: 0.4rem;
}

.bars {
  bottom: 0;
  height: 200px;
  position: relative;
}

.bar {
  background-color: $blue;
  bottom: 0;
  position: absolute;
  transition: height 0.15s ease-out;
}

.label {
  white-space: nowrap;
  padding: 0.2rem 0 0 3px;
}

.labelHidden {
  display: none;
}

.labelBorder {
  border-left: 1px solid;
}

.year,
.monthHidden {
  display: none;
}

.yearVisible {
  margin-left: 3px;
  display: inline-block;
}

.last {
  margin-left: -50px;
  padding-right: 3px;
}

.labelBorderLast {
  border-right: 1px solid;
}
