@import 'src/variables';

.contributors {
  width: 100%;
}

.header {
  display: flex;
}

.name,
.percent,
.percent-nr,
.percent-bar {
  display: inline-block;
}

.list {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

.list,
.list-items {
  margin-bottom: 1em;
}

.name {
  width: 35%;

  a,
  a:active,
  a:visited {
    color: $black;
    text-decoration: none;
  }
}

.percent {
  width: 65%;
}

.percent-bar {
  background-color: $blue;
  height: 5px;
  margin-bottom: 2px;
  margin-right: $percent-width;
}

.percent-nr {
  // margin-left: 1rem;
  width: 0;
}

.percent-nr,
.remaining {
  color: $light-grey;
}
