@import 'src/variables';

.wrapper {
  z-index: $top;
  position: relative;
}

.tooltip {
  position: absolute;
  z-index: $top-over;
  background: #000;
  padding: 5px;
  margin: 10px;
  width: 240px;
}
