@import 'src/variables';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.viz {
  // border: 1px solid;
  margin: 1rem 0;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: $font-primary;
  font-weight: bold;
  letter-spacing: 0.5px;
  position: relative;
  text-transform: uppercase;
}

.subtitle {
  margin-top: 0.5rem;
  font-size: 0.8em;
  color: $black;
  margin-bottom: 2rem;
}

.download {
  margin-left: 10px;
  text-transform: none;
  font-weight: normal;
  font-size: 0.8em;
  color: $blue;

  &:active {
    color: $blue;
  }
}
