
$red: #f00;
$blue: #00f;

.tab {
  padding: 2px;
}

.tab-selected {
  text-decoration: line-through;
}

.dropdown {
  border: 1px solid;
}

.options {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.options-closed {
  display: none;
}

.option-selected {
  text-decoration: line-through;
}

.bars {
  border: 1px solid $blue;
  bottom: 0;
  height: 200px;
  position: relative;
}

.bar {
  background-color: $blue;
  bottom: 0;
  position: absolute;
}
