
$red: #f00;
$blue: #00f;
$purple: #800080;

.activity {
  margin: 1rem 0;
  padding: 1rem 0 0;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.selector {
  position: relative;
}

.dropdown {
  display: inline-block;
}

.histogram {
  // margin-bottom: 1rem;
}
